body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

header{
padding:25px;
background:linear-gradient(90deg,#ff512f,#dd2476,#24c6dc);
}

.sub{
opacity:0.8;
}

.notice{
background:#111827;
padding:15px;
margin:10px;
border-radius:10px;
border:1px solid #facc15;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
padding:20px;
}

.card{
padding:20px;
border-radius:15px;
transition:0.3s;
box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.card:hover{
transform:scale(1.05);
}

/* 6 ألوان مختلفة */
.c1{background:#ef4444;}
.c2{background:#3b82f6;}
.c3{background:#22c55e;}
.c4{background:#f59e0b;}
.c5{background:#a855f7;}
.c6{background:#06b6d4;}

footer{
padding:15px;
background:#020617;
margin-top:20px;
}
