
body{
font-family: Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
background:linear-gradient(90deg,#2563eb,#06b6d4);
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
padding:20px;
}

.card{
background:#1e293b;
padding:15px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,0.3);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

button{
background:#22c55e;
border:none;
padding:8px;
color:white;
border-radius:10px;
cursor:pointer;
}

.cart{
position:fixed;
top:10%;
right:10%;
background:white;
color:black;
padding:20px;
border-radius:15px;
width:300px;
}

.hidden{display:none;}
